// Global layout.
html {
  * {
    @include box-sizing(border-box);
  }
}

body {
  margin: 0;
  padding: 0;
}

.row {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);

  overflow: hidden;
  border: 1px solid #ccc;
  
  &:first-child {
    border-top: 1px solid #ccc;
  }
  
  & + .row {
    border-top: 0;
  }
}

.column {
  @include flex(1);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include transition(color .2s ease-out);
  @include position(relative);

  padding: 5px;
  font-size: 9px;
  text-align: center;
  
  border-left: 1px solid #ccc;
  
  &:first-child {
    border-left: 0;
  }
  
  &:after {
    @include transition(background-color .2s ease-out);
    @include position(absolute, 0 null null 0);
    @include size(100%);
    
    content: '';
    background-color: transparent;
  }
  
  &.done {
    color: rgba(black, .25);
    
    &:after {
      background-color: rgba(black, .8);
    }
  }
}